* {
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template: auto 1fr / clamp(100px, 20%, 300px) 1fr;
    grid-template-areas: "sidebar header"
                        "sidebar main";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1892d3;
    color: white;
    display: grid;
    padding: 16px;
    gap: 48px;
}

.icon-container {
    display: flex;
    gap: 16px;
}

.logo {
    width: 48px;
}

h1 {
    font-weight: 600;
}

.main {
    grid-area: main;
}
