* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr 4fr;
}

ul {
    list-style-type: none;
    padding: 0px;
}

aside{ 
    grid-row: span 2;
    background-color:rgb(55, 155, 255);
    color: white;
    font-weight: bold;
    padding: 0px 18px;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-nav,
.header-content {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

main{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.your-projects {
    grid-row: span 2;
}