:root {
    --blue: #1892d3;
    --grey: #e1e8ef;
    --yellow: #f0b42f;
    --green: #689F38;
}

* {
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template: max-content 1fr / max-content 1fr;
    grid-template-areas: "sidebar header"
                        "sidebar main";
    height: 100vh;
}

.header {
    grid-area: header;
}

.nav {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr) auto auto auto;
    justify-items: end;
    align-items: center;
    padding: 16px 32px 8px;
    gap: 32px;
}

.icon[src*="bell"] {top: 0px;}

#search {
    background-color: var(--grey);
    border: 2px solid var(--grey);
    border-radius: 50px;
    outline: none;
    height: 32px;
    font-size: 16px;
    padding: 2px 16px;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
}

.pfp {
    width: 38px;
}

.user-name {
    font-weight: 900;
    font-size: 16px;
    margin-right: 32px;
}

#search:hover, #search:focus {
    outline: 2px solid var(--green);
}

.head {
    padding: 8px 32px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.user-info{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 16px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 12px;
}

.user-info :first-child {grid-row: span 2;}
.user-info :nth-child(3) {align-self: start; font-size: 18px;}
.user-info .pfp {width: 64px;}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 32px;
    padding: 16px;
}

.buttons button {
    border: none;
    border-radius: 25px;
    height: 36px;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--blue);
    color: white;
    display: grid;
    grid-auto-rows: min-content;
    padding: 16px;
    gap: 48px;
    max-width: 300px;
}

.icon-container {
    display: flex;
    gap: 16px;
}

.logo {
    width: 32px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.pages {
    display: grid;
    gap: 16px;
}

.pages a span + span {
    margin-left: 16px;
}

.pages li:nth-child(7) {
    margin-top: 48px;
}

.icon {
    width: 22px;
    position: relative;
    top: 4px;
}

.main {
    grid-area: main;
    background-color: var(--grey);
}
