* {
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template: auto 1fr / minmax(260px, 300px) 1fr;
    grid-template-areas: "sidebar header"
                        "sidebar main";
    height: 100vh;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1892d3;
    color: white;
    display: grid;
    grid-auto-rows: min-content;
    padding: 16px;
    gap: 48px;
}

.icon-container {
    display: flex;
    gap: 16px;
}

.logo {
    width: 32px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.pages {
    display: grid;
    gap: 16px;
}

.pages a span + span {
    margin-left: 16px;
}

.pages li:nth-child(7) {
    margin-top: 48px;
}

.icon {
    width: 22px;
    position: relative;
    top: 4px;
}

.main {
    grid-area: main;
}
